html {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient( to bottom right,black, purple);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#H1L {
  text-align: center;
  color: black;
  animation: glow 1.5s infinite alternate;
  transition: filter 0.8s ease; /* Smooth fade effect */
}

/* When hovering, gradually lower brightness until invisible */
#H1L:hover {
  filter: brightness(0);
}

/* Glow keyframes */
@keyframes glow {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff00de, 0 0 30px #ff00de,
      0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 60px #ff00de, 0 0 70px #ff00de;
  }
  100% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00de,
      0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 60px #ff00de, 0 0 70px #ff00de,
      0 0 80px #ff00de;
  }
}

.content {
  text-align: left;
  color: white;
  font-family: Arial, sans-serif;
  margin: 20px;
  font-size: 18px;
}

footer {
  text-align: center;
  color: purple;
  font-family: Arial, sans-serif;
  margin: 20px;
}

nav {
  float: right;
  margin-top: -40px;
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-family: Arial, sans-serif;
  animation: glow 1.5s infinite alternate;
}

.logo {
  height: 50px;
  float: left;
}

/* button */
.btn {
  margin: 0px;
  padding: 5px 20px;
  border: none;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}
.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
.btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* hover */
.btn:hover::before {
  opacity: 1;
}

.btn:active:after {
  background: transparent;
}

.btn:active {
  color: #000;
  font-weight: bold;
}
